{% extends "app/layout.html" %}

{% block content %}

<div class="content-command">
    <div class="content-command-speed">
        <input type="range" min="0" max="500" value="250" class="slider" id="myRange">
        <button type="button" id="setSpeed">Set speed</button>
    </div>
    
    <div class="content-command-mode">
        <input type="range" min="0" max="2" value="0" class="slider" id="mode">
        <button type="button" id="setMode">Set Mode</button>
    </div>

    <div class="content-command-led">
        <button type="button" id="setLED">Allumer les LEDs</button>
    </div>

    <div class="content-command-move">
        <button type="button" id="forward">Avancer</button>
        <button type="button" id="backward">Reculer</button>
        <button type="button" id="nextFunc">Check next command</button>
    </div>

    <div class="content-command-turn">
        First name: <input type="text" name="inpDeg" id="degVal"><br>
        <button type="button" id="setDegRight">Tourner de X° à droite</button>
        <button type="button" id="setDegLeft">Tourner de X° à gauche</button>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">

var movement = "none";
var currentSpeed = 0;
var lastSpeed = 0;
var ledsOn = false;

$('#setSpeed').on("click",function(){
    
    $.ajax({
        type: "GET",
        url: "api/getSpeed/",
        success: function(data){  
            lastSpeed = data.speed; 
    }});
    currentSpeed = $('#myRange').val();

    $.ajax({
        type: "POST",
        url: "api/setSpeed/" + currentSpeed,
        success: function(data){   
        }
    });
})

$('#setMode').on("click",function(){
    var mode = $('#mode').val();

    $.ajax({
    type: "POST",
    url: "api/setMode/" + mode,
    success: function(data){
         alert(mode);         
     }
});
})


$('#setDegRight').on("click",function(){
    var deg = $('#degVal').val();

    $.ajax({
    type: "POST",
    url: "api/turnRight/" + deg,
    success: function(data){
        console.log(data);         
     }
});
})

$('#setDegLeft').on("click",function(){
    var deg = $('#degVal').val();

    $.ajax({
    type: "POST",
    url: "api/turnLeft/" + deg,
    success: function(data){
        console.log(data);         
     }
});
})

$('#forward').on("click",function(){

    if(movement=="backward" || movement=="none" ){
        $.ajax({
            type: "POST",
            url: "api/forward/",
            success: function(data){
                console.log(data);         
            }
        });
        movement = "forward";
    }else{
        currentSpeed = $('#myRange').val();

        if(currentSpeed!=lastSpeed){
            $.ajax({
                type: "POST",
                url: "api/forward/",
                success: function(data){
                    console.log(data);         
                }
            });
            movement = "forward";  
        }
    }
})

$('#backward').on("click",function(){
    if(movement=="forward" || movement=="none" ){
        $.ajax({
            type: "POST",
            url: "api/backward/",
            success: function(data){
                console.log(data);         
            }
        });
        movement = "backward";
    }else{
        $.ajax({
            type: "POST",
            url: "api/setSpeed/" + 0,
            success: function(data){        
            }
        });
        movement = "none";
    }
})

$('#nextFunc').on("click",function(){
    $.ajax({
    type: "POST",
    url: "api/nextMove/",
    success: function(data){
        console.log(data);         
     }
});
})

$('#setLED').on("click",function(){
    $.ajax({
    type: "POST",
    url: "api/setLeds/" + Number(ledsOn),
    success: function(data){
        console.log(data);   
        ledsOn = !ledsOn;     
        var html = ledsOn ? "Eteindre les LEDs" : "Allumer les LEDs";
        $("#setLED").html(html); 
     }
});
})

$(document).ready(function(){
    $.ajax({
        type: "GET",
        url: "api/getLeds/",
        success: function(data){
            ledsOn = data.ledsOn;   
            var html = ledsOn ? "Eteindre les LEDs" : "Allumer les LEDs";
            $("#setLED").html(html); 
        }
    });
})

//Keyboard Bindings
$(document).keydown(function(e) {
    switch(e.which) {
        case 37: // left
        break;

        case 38: // up
            $.ajax({
                type: "POST",
                url: "api/forward/",
                success: function(data){
                    console.log(data);         
                }
            });
        break;

        case 39: // right
        break;

        case 40: // down
            $.ajax({
                    type: "POST",
                    url: "api/backward/",
                    success: function(data){
                        console.log(data);         
                    }
                });
        break;

        default: return; // exit this handler for other keys
    }
    e.preventDefault(); // prevent the default action (scroll / move caret)
});
</script>

{% endblock %}
